/* *{
    margin:0;
    padding:0
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(219, 199, 173);
}
.container{
    align-items: center;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    width: 60vh;
    height:65vh;
}
form{
    margin: 1rem 1rem;
}

form select,button,input{
    width:100%;
}
.amount{
    font-size:1.25rem;
}
form input{
    height:2rem;
}
.dropdown{
    margin-top: 2rem;
    justify-content: space-between;
    display:flex;
    align-items: center;
}
.dropdown i{
    font-size:1.7rem;
}
.select-container img{
    max-width: 2rem;
}
form select{
    border: none;
}
.select-container{
    display:flex;
    justify-content: center;
  align-items: center;
  width: 6rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;

}
.select-container select {
    font-size: 1rem;
    width: auto;
  }


.msg{
    margin:2rem 0 2rem 0;
    color:white;
    font-size:1.25rem;
    background-color:green;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 4rem;

}
form button{
    height:3rem;
    background-color: black;
    color:white;
    font-size:1rem;
    border:none;
    cursor: pointer;
} */



/* .container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10vh;
    justify-content: center;
    align-items: center;
    height:60vh;
    width: 60vh;
    gap: 1vmin;
}

.box{
    height: 18vh;
    width: 18vh;
    border: none;
    font-size: 8vmin;
    background-color: whitesmoke;
    color: brown;
}

#reset{
    margin-top: 1rem;
    padding:1rem;
    color: white;
    border:none;
    background-color: black;
    border-radius: 1vmin;
    font-size: 1.2rem;

} */



* {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
  }
  
  .container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
  }
  
  form {
    margin: 2rem 0 1rem 0;
  }
  
  form select,
  button,
  input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
  }
  
  form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
  }
  
  .dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
  
  .dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  
  .select-container img {
    max-width: 2rem;
  }
  
  .select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
  }
  
  .select-container select {
    font-size: 1rem;
    width: auto;
  }
  
  .msg {
    margin: 2rem 0 2rem 0;
  }
  
  form button {
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
  }